syntax: glob
*~
Regnum/build/*
Regnum/dist/*
Regnum/dist-linux-amd64/*
Regnum/dist-linux-i586/*
Regnum/dist-macosx-ppc/*
Regnum/dist-macosx-universal/*
Regnum/dist-solaris-i586/*
Regnum/dist-solaris-sparc/*
Regnum/dist-solaris-sparcv9/*
Regnum/dist-windows-i586/*
Regnum/dist-windows-amd64/*
Regnum/nbproject/*
Regnum/test/*
Regnum/build.xml
Regnum/manifest.mf
